{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="text-center">Register new account</h2>
	<div class="center-block form-center-block text-center">
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
	</div>
{% endblock %}