{% extends 'base.html.twig' %}

{% block body %}
	<h3>{{ pageDesc }}</h3>
	{% if not homepage is defined or homepage == null %}
		<p>You can choose one page that will be homepage</p>
	{% elseif homepage == -1 %}
		{{ render(controller('AppBundle:Main:blog', {'home': true}))}}
		<a href="{{ path('blog') }}">More posts</a>
	</div>
	{% else %}
		{{ render(controller('AppBundle:Post:showPage', {'id': homepage, 'full': false}))}}
	{% endif %}
{% endblock %}
